/* remove default margin and padding from body */
body {
    background: #ffffff;
    color: #5f5e5e;
    font-family: "Verdana", Times, serif;
    padding: 0;
    margin: 0;
  }

 h1 {
    color: grey;
  }

  p {
    color: white;
    font-weight: bold;
  }

  /* set map, body, and html to 100% of the screen size */
  #map {
    height: 800px;
    width : 1150px ;
  }


  /* Selecting elements by ID */
  
  #header {
    background: #ffffff;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
    color: grey;
    font-size: 52px
  }
  
  #geo {
    font-size: 32px;
  }



#barGraph{
margin-top: 60px;
}