<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wells Data Analysis</title>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>

  <!-- plotly cdn -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <!--Javascript Table stuff-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>


  <!--Visualizations stuff-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- <link rel=stylesheet type=text/css href=""> -->
</head>

<body>

  <div class="row">
    <div class="col-md-12 text-center">
      <h1 id="header">Oil and Gas Wells Analysis</h1>
      <h1 id="header"> Loving County in the Permian Basin </h1>
    </div>
  </div>



  <!-- D3 Scatterplot and Bar graphs -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 id="geo" style="text-align:center;">Geo-Maps</h1>
      </div>
    </div>





    <!-- The div where we will inject our map -->
    <div class="map-container">
      <div id="map"></div>

    </div>

    <div class="row">
      <div class="col-md-7">
        <!-- We append our chart here. -->
        <div class="chart">

          <h4>Production type</h4>
          <select id="selDataset" onchange="getData(this.value)">
            <option value="dataset1">Oil Production</option>
            <option value="dataset2">Gas Production</option>
          </select>

          <div id="graph_prod"></div>
        </div>


      </div>

      <div class="col-md-5">
        <!-- We append our chart here. -->
        <!-- <div class="chart"> -->
        <div id="barGraph">
          <!-- </div> -->
        </div>

      </div>

      <br>


      <!-- Javascript Filter Table -->
      <div class="wrapper">

        <div class="hero text-center">
          <h1>Filter Table</h1>
          <p>The Truth is Out There</p>
        </div>

        <div class="container">
          <div class="row margin-top-50">


            <div class="col-md-2">
              <aside class="filters">
                <div class="panel panel-default">
                  <div class="panel-heading">Filter Search</div>
                  <div class="panel-body">
                    <form>
                      <div class="form-group">
                        <ul class="list-group" id="filters">
                          <li class="filter list-group-item">
                            <label for="date">Enter a Date</label>
                            <input class="form-control" id="datetime" type="text" placeholder="1/11/2011">
                          </li>
                        </ul>
                      </div>
                      <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
                    </form>
                  </div>
                </div>
              </aside>
            </div>


            <div class="col-md-10">
              <div id="table-area" class="">
                <table id="ufo-table" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="table-head">Date</th>
                      <th class="table-head">City</th>
                      <th class="table-head">State</th>
                      <th class="table-head">Country</th>
                      <th class="table-head">Shape</th>
                      <th class="table-head">Duration</th>
                      <th class="table-head">Comments</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>



  </div>





  <!-- API key-->
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>

  <!-- Our JS -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph.js') }}"></script>


  <!-- <script type="text/javascript" src="../static/js/config.js"></script>
 <script type="text/javascript" src="../static/js/app.js"></script>
 <script type="text/javascript" src="../static/js/graph.js"></script> -->



</body>

</html>